alabaster==0.7.16
babel==2.18.0
certifi==2026.1.4
charset-normalizer==3.4.4
cloud-sptheme==1.10.1.post20200504175005
commonmark==0.9.1
docutils==0.21.2
-e git+https://github.com/f5devcentral/f5-sphinx-theme.git@eb7fd2573f0c90d0720e0b3f45ba3cdbafe252c2#egg=f5_sphinx_theme
idna==3.11
imagesize==1.4.1
importlib_metadata==8.7.1
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.0
Pygments==2.19.2
recommonmark==0.7.1
requests==2.32.5
snowballstemmer==3.0.1
Sphinx==7.4.7
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxjp.themes.basicstrap==0.5.0
tomli==2.4.0
urllib3==2.6.3
zipp==3.23.0
-e ./f5-sphinx-theme
